
<div class="contentArea">
    <header class="header">
        <div class="pageTitle">
            <h6>Dashboard / Employees</h6>
            <h1>Employees</h1>
        </div>
        <div>
            <div class="cta">
                <div class="searchBox">
                    <div class="searchIcon">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </div>
                    <input type="search" id="search" placeholder="Search" onkeyup="Search()">
                </div>
                <div class="notificationIcon">
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                </div>
                <div class="userImg">
                    <img src="img/search.png" alt="user">
                </div>
            </div>
        </div>
    </header>