<footer>
    <hr>
    <div class="fText">
        <h6>&#169; 2023 All Rights Reserved. <span>Stackup</span></h6>
        <div class="terms">
            <h6>Terms of Use</h6>
            <h6>Privacy Policy</h6>
        </div>
    </div>
</footer>
</div>

<!-- from delete ejs -->
</div>
<!-- js -->
<script src="/js/database.js"></script>
<script src="/js/script.js"></script>
<script src="/js/common.js"></script>
<script src="/js/editemployee.js"></script>
</body>

</html>