
<body>
    <div class="wrap">
        <div class="sideBox">
            <h1>Employee <span>Management</span></h1>
            <hr>
            <div class="menu">
                <ul>
                    <li><a href="#"><span class="activebar"></span><span class="material-symbols-outlined">
                                home
                            </span>Dashboard</a></li>
                    <li><a href="#"><span class="activebar"></span><span class="material-symbols-outlined">
                                bar_chart
                            </span>Employees</a></li>
                    <li><a href="#"><span class="activebar"></span><span class="material-symbols-outlined">
                                person
                            </span>My Profile</a></li>
                    <li><a href="/logout"><span class="activebar"></span><span class="material-symbols-outlined">
                                lock
                            </span>Logout</a></li>
                </ul>
            </div>
            <hr>
            <div class="sponser">
                Powered by
                <img src="img/stackuplogo.png" alt="sponserlogo">
            </div>
        </div>